body{
 background-color: rgb(149, 171, 190);
 display: flex;
 justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.span {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}