
body {
    background-color: #f4f7fa;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

nav {
    padding-left: 10px;
    width: 100%;
    border: 1px solid gainsboro;
    background-color: white;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav1 {
    display: flex;
    align-items: center;
}

.nav1 li {
    list-style-type: none;
    margin: 0 20px;
    color: black;
    font-size: 18px;
    justify-content: space-around;
}


nav img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav2 {
    display: flex;
    align-items: center;
}

.nav2 li {
    list-style-type: none;
    margin: 0 10px;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.content {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.aside {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eef2f3;
    width: 55%;
    height: 85vh;
    background-color: #f1f7fa;
}

.main {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eef2f3;
    width: 30%;
    height: 83vh;
    background-color: #f1f7fa;
}
.main img {
    background-color: #eef2f3;
    width: 100%;
    height: 20vh;
    border-radius: 10px 10px 0 0;
}
.calc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 15px;
}

.calc p {
    margin: 0;
    font-size: large;
}

.calc-btn {
    background-color: darkgray;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
}

.calc-btn:hover {
    background-color: rgb(70, 62, 62);
}
.subtotal{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 20px 0;
}
.steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 15px;

}

.steps img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin: 0; 
}
.account-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.account-details p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left; 
}

.account-details input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    margin: 0 auto; 
}
.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.shipping-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.register-button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

.cancel-button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

.register-button:hover, .register-button:focus,
.cancel-button:hover, .cancel-button:focus {
    text-decoration: none;
    color: rgb(8, 131, 45);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding-right: 20px;
    align-items: flex-end;
}
.hr{
    border: none;
    border-top: 1px solid #007bff;
    width: 10%;
    margin: 0 10px; 
}